{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible show" role="alert">
	{{ message }}
 	 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}



<h1>Employee List </h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
<form  action="{{ url_for('add_employee')}}"method = "POST">
	{{form.hidden_tag()}}

	{{form.first_name.label(class="form-label")}}
	{{form.first_name(class="form-control")}}
	<br/>

	{{form.last_name.label(class="form-label")}}
	{{form.last_name(class="form-control")}}
	<br/>

	{{form.address.label(class="form-label")}}
	{{form.address(class="form-control")}}
	<br/>


	{{form.dob.label(class="form-label")}}
	{{form.dob(class="form-control")}}
	<br/>

	{{form.ssn.label(class="form-label")}}
	{{form.ssn(class="form-control")}}
	<br/>


	{{form.start_date.label(class="form-label")}}
	{{form.start_date(class="form-control")}}
	<br/>

	{{form.salary.label(class="form-label")}}
	{{form.salary(class="form-control")}}
	<br/>

	{{form.position.label(class="form-label")}}
	{{form.position(class="form-control")}}
	<br/>


	{{form.info_id.label(class="form-label")}}
	{{form.info_id(class="form-control")}}
	<br/>


	{{form.submit(class="btn btn-secondary")}}

</form>
</div>

	<br/>	<br/>	<br/>
	<table class = "table table-hover table-bordered table-striped">
	{% for our_employee in our_employees %}
	<tr>
		<td>
		{{ our_employee.id }}.  {{ our_employee.first_name}} {{ our_employee.last_name}} | {{ our_employee.address}} | DOB: {{ our_employee.dob}}
	 | SSN: {{ our_employee.ssn}} | Started: {{ our_employee.start_date}} | Salary:  {{ our_employee.salary}} | {{ our_employee.position}} | Contact# {{ our_employee.info_id}} <a href="{{url_for('update_employee', id = our_employee.id)}}" class="btn btn-warning"> Edit </a> <a href="{{url_for('delete_employee', id = our_employee.id)}}" class="btn btn-danger"> Delete </a>

	</td></tr>
	{% endfor %}
</table>


{% endblock %}