{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible show" role="alert">
	{{ message }}
 	 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}



<h1>Foster List </h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
<form  action="{{ url_for('add_foster')}}"method = "POST">
	{{form.hidden_tag()}}


	{{form.application_id.label(class="form-label")}}
	{{form.application_id(class="form-control")}}
	<br/>


	{{form.animal_id.label(class="form-label")}}
	{{form.animal_id(class="form-control")}}
	<br/>

	{{form.foster_date.label(class="form-label")}}
	{{form.foster_date(class="form-control")}}
	<br/>

	{{form.submit(class="btn btn-secondary")}}

</form>
</div>

	<br/>	<br/>	<br/>
	<table class = "table table-hover table-bordered table-striped">
	{% for our_foster in our_fosters %}
	<tr>
		<td>
		ID: {{ our_foster.id }} | APPLICATION ID: {{ our_foster.application_id}} 
        | ANIMAL ID: {{ our_foster.animal_id}} | DATE: {{ our_foster.foster_date}} 
      

        <a href="{{url_for('update_foster', id = our_foster.id)}}" class="btn btn-warning"> Edit </a> 
        <a href="{{url_for('delete_foster', id = our_foster.id)}}" class="btn btn-danger"> Delete </a>

	</td></tr>
	{% endfor %}
</table>


{% endblock %}