{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible show" role="alert">
	{{ message }}
 	 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}



<h1>Surgery List</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
<form  action="{{ url_for('add_surgery')}}"method = "POST">
	{{form.hidden_tag()}}

	{{form.diagnosis_id.label(class="form-label")}}
	{{form.diagnosis_id(class="form-control")}}
	<br/>

	{{form.date.label(class="form-label")}}
	{{form.date(class="form-control")}}
	<br/>

    {{form.operation_type.label(class="form-label")}}
	{{form.operation_type(class="form-control")}}
	<br/>

	{{form.vet_id.label(class="form-label")}}
	{{form.vet_id(class="form-control")}}
	<br/>

    {{form.success_or_fail.label(class="form-label")}}
	{{form.success_or_fail(class="form-control")}}
	<br/>

	{{form.submit(class="btn btn-secondary")}}

</form>
</div>

	<br/>	<br/>	<br/>
	<table class = "table table-hover table-bordered table-striped">
	{% for our_surgery in our_surgeries %}
	<tr>
		<td>
		ID: {{ our_surgery.id }} | DIAGNOSIS ID: {{ our_surgery.diagnosis_id}}
	    | DATE: {{ our_surgery.date}} | VET ID: {{ our_surgery.vet_id}} | OP TYPE: {{our_surgery.operation_type}}
        | {{ our_surgery.success_or_fail}}

            <a href="{{url_for('update_surgery', id = our_surgery.id)}}" class="btn btn-warning"> Edit </a>
            <a href="{{url_for('delete_surgery', id = our_surgery.id)}}" class="btn btn-danger"> Delete </a>

	</td></tr>
	{% endfor %}
</table>


{% endblock %}