<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Flasker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

       <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_contact')}}">Contact Info</a>
        </li> 

               <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_employee')}}">Employees</a>
        </li> 
      
                     <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_application')}}">Applications</a>
        </li> 

                             <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_animal')}}">Animals</a>
        </li> 
    

                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_diagnosis')}}">Animal Diagnosis Records</a>
        </li> 
    

                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_treatment')}}">Animal Treatment Records</a>
        </li> 
    

                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_surgery')}}">Animal Surgical Records</a>
        </li> 


                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_vaccination')}}">Animal Vaccination Records</a>
        </li> 

                                 <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_allergy')}}">Animal Allergy Records</a>
        </li> 
    

                             <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_adoption')}}">Adoptions</a>
        </li> 
    
                                 <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_foster')}}">Fosters</a>
        </li> 

                                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_background')}}">Background Checks</a>
        </li> 


                                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_donation')}}">Donations</a>
        </li> 


                                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_payment')}}">Payments</a>
        </li> 
    
    
                                         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search')}}">Search</a>
        </li> 
    
    
    
    
    

    
      </ul>
    </div>
  </div>
</nav>