{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
 	 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}



	<h1> Search the Database </h1>
	<form action="{{ url_for('search')}}"method="POST">
		{{ form.hidden_tag() }}


		{{form.table.label(class="form-label")}}
		{{form.table(class="form-control")}}
		<br/>

	{{form.operation.label(class="form-label")}}
	{{form.operation(class="form-control")}}
	<br/>

	{{form.attribute.label(class="form-label")}}
	{{form.attribute(class="form-control")}}
	<br/>



		{{ form.submit(class="btn btn-secondary") }}

	</form>


		<h1> Search2 </h1>
	<form action="{{ url_for('search')}}"method="POST">
		{{ form2.hidden_tag() }}


		{{form2.table.label(class="form-label")}}
		{{form2.table(class="form-control")}}
		<br/>

	{{form2.attribute.label(class="form-label")}}
	{{form2.attribute(class="form-control")}}
	<br/>

	{{form2.operation.label(class="form-label")}}
	{{form2.operation(class="form-control")}}
	<br/>

		{{ form2.submit2(class="btn btn-secondary") }}

	</form>



<br/><br/>
	<h2> Latest Search: </h2>
	<p> {{searched}} </p>

	<p> {{table}} {{tablenum}} {{exception}}</p>



<table border="1" cellpadding="5" cellspacing="5">
{% for row in rows %}
    <tr>
    {% for d in row %}
        <td>{{ d }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

	<br/>

		<br/>
			<br/>



{% endblock %}