{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible show" role="alert">
	{{ message }}
 	 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}



<h1>Update Adoption</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
<form action="/adoption/update/{{adoption_to_update.id}}"method = "POST">
	{{form.hidden_tag()}}


	{{form.first_name.label(class="form-label")}}
	{{form.first_name(class="form-control", value=adoption_to_update.first_name)}}
	<br/>

	{{form.last_name.label(class="form-label")}}
	{{form.last_name(class="form-control", value=adoption_to_update.last_name)}}
	<br/>

	{{form.application_id.label(class="form-label")}}
	{{form.application_id(class="form-control", value=adoption_to_update.app_id)}}
	<br/>


	{{form.animal_id.label(class="form-label")}}
	{{form.animal_id(class="form-control", value=adoption_to_update.animal_id)}}
	<br/>

	{{form.adoption_date.label(class="form-label")}}
	{{form.adoption_date(class="form-control", value=adoption_to_update.adoption_date)}}
	<br/>


	{{form.submit(class="btn btn-secondary")}}

	<a href="{{url_for('delete_adoption', id = id)}}" class="btn btn-danger"> Delete </a>

</form>
</div>

{% endblock %}